.disabled {
    cursor: not-allowed;
  }

/* Footer */

footer {
    background-color: white;
    width:100%;
    padding:20px;
    
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.support-links {
    margin-left:50px;
}
/* NavBar */

    .navbar-brand {
        font-size: 180%;
    }

    a {
        font-size: 120%;
    }
/* index.html */
    html, body {
        height:80%;
        margin:0;
        padding:0;
        font-family: Poppins, sans-serif;
        background-color: #fce1cf;
    }

    h1 {
        font-family: 'Abril Fatface', serif;
        font-size: 500%;
    }

    .thumbnail {
        
    }

    .carousel, .item, .active {
        height:100%;
    }

    .carousel-inner {
        height:100%;
    }
    .carousel {
        margin-bottom: 60px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .carousel-caption {
        z-index: 10;
    }
    .carousel .item {
        background-color: #777;
    }
    .carousel .carousel-inner .bg {
        background-repeat:no-repeat;
        background-size:cover;
    }
    .carousel .carousel-inner .bg1 {
        background-image:url('https://t3.ftcdn.net/jpg/00/64/77/16/360_F_64771693_ncondhOJwNdvLjBfeIwswLqhsavUSSY5.jpg');
        background-position: center top;
        
    }
    .carousel .carousel-inner .bg2 {
        background-image:url('https://t3.ftcdn.net/jpg/00/64/77/16/360_F_64771693_ncondhOJwNdvLjBfeIwswLqhsavUSSY5.jpg');
        background-position: center center;
        
    }
    .carousel .carousel-inner .bg3 {
        background-image:url('https://t3.ftcdn.net/jpg/00/64/77/16/360_F_64771693_ncondhOJwNdvLjBfeIwswLqhsavUSSY5.jpg');
        background-position: center bottom;
        
    }

    .btn  {
        padding:3% 30%;
        margin: 2%;
        background-color: #A6E1FA;
        border-radius:12px;
        border:3px solid #181C39;
        display:inline-block;
        cursor:pointer;
        font-size:18px;
    }

    .btn:hover {
        background-color:#5dcdfd;
    }
    .btn:active {
        position:relative;
        top:1px;
    }

    .best-product {
        background-color: #4954A9;
        margin: 1px;
        padding:10px;
        margin-bottom: 20px;
        margin-top: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius:12px;
    }

    .best-product-div {
        border-radius:12px;
        background-color: #4954A9;
        margin: 10px;
        background-color: white;
        color:#000000;
        border-radius:12px;
        padding:10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
    }

    p {
        font-size:15px
    }

    h2 {
        color:black;
        
    }


    .home-header {
        background-color: white;
        color:#000000;
        font-family: 'Abril Fatface', serif;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius:12px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }


    .best-product-img {
        height:300px;
        border-radius:12px;
        background-color: #4954A9;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .intro-para {
        margin-left:10%;
        margin-right:10%;
        margin-top: 20px;
        margin-bottom: 10px;
        background-color: white;
        color:#000000;
        border-radius:12px;
        padding:20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        
    }



/* contacts.html */

    .info {
        color:black;
        margin:3%;
        font-size:20px;
        background-color: white;
        color:#000000;
        border-radius:12px;
        padding:20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        
    }

    .contact-info {
        background-color: #4954A9;
        
        padding:10px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

    }

    .contact-input {
        background-color: #4954A9;
        
        padding:10px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    }

    .info {
        background-color:white;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        width: 95%;
        padding: 12px;
        
        border: 1px solid #ccc;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        
    }
    label {
        color:Black;
        font-size:20px;
    }

    @media screen and (min-width: 1000px) {
        .info-class {
            padding-left: 5%;
            padding-right: 5%;
            
        }
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        background-color: white;
      }
      
      input[type=submit] {
        background-color: #5dcdfd;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #A6E1FA;
      }


/* merchandise.html */

        .product {
            background-color: #4954A9;
            margin: 1px;
            padding:10px;
            margin-bottom: 20px;
            margin-top: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius:12px;
            
        }

        .merch-header {
            color:#000000;        
        }

        .merch-header-div {
            background-color: white;
            
            margin:10px;
            margin-bottom:20px;
            width:99%;
            border-radius:12px;
            padding:20px;
            box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
        }

        @media screen and (min-width: 800px) and (max-width: 1500px) {
            .btn {
                
                padding-right:10%;
                padding-left:10%;
            }
        }

        @media screen and (min-width: 750px) and (max-width: 850px) {
            .btn {
                
                padding-right:5%;
                padding-left:5%;
            }
        }

        .row-merch {
           border-radius:12px;
           background-color: #4954A9;
           margin: 10px;
           background-color: white;
           color:#000000;
           border-radius:12px;
           padding:10px;
           box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
           margin-bottom: 20px;
        }

        

        .product-img {
            height:300px;
            border-radius:12px;
            background-color: #4954A9;
            margin-bottom: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
    

/* cart.html */
    .checkout-btn {
        padding:3% 20%;
    }

    h3 {
        font-size: 25px;

    }
    .text-navy {
        color: #4954A9;
    }

    .btn-primary {
        color: #4954A9;
    }

    .total {
        color: #181C39;
    }

    .ecommerce .tag-list {
    padding: 0;
    }
    .ecommerce .fa-star {
    color: #d1dade;
    }
    .ecommerce .fa-star.active {
    color: #f8ac59;
    }
    .ecommerce .note-editor {
    border: 1px solid #e7eaec;
    }


    .ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    }
    .ibox.collapsed .ibox-content {
    display: none;
    }
    .ibox:after,
    .ibox:before {
    display: table;
    }
    .ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
    border-radius:12px;
    }
    .ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    border-radius:12px;

    }
    .ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
    }

 